section .iconPrinc {
  position: absolute;
  top: auto;
  left: -1.5cm;
  z-index: 1000;
  /* box-shadow:  -1px 1px 35px rgba(128, 127, 127, 0.158); */
}

#Connexion {
  background-color: #2e87a0f5;
  background-image: url("../images/img3.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

#form_connexion {
  background-image: linear-gradient(to left,#2F89A1 50%,#2f88a19c);
}

section.image > h1 {
  position: absolute;
  bottom: 0;
  font-size: 50px;
}

/* Chargement */
.Chargement .logo {
  animation: load 0.8s infinite alternate-reverse ease;
}

/* LOAding point */

.LoadingPoint i {
  opacity: 0.2;
  font-size: 11px;
}

.LoadingPoint i:first-child {
  animation: pointload 0.5s 0.1s infinite alternate-reverse ease;
}

.LoadingPoint i:nth-child(2) {
  animation: pointload 0.5s 0.2s infinite alternate-reverse ease;
}

.LoadingPoint i:nth-child(3) {
  animation: pointload 0.5s 0.3s infinite alternate-reverse ease;
}

@keyframes pointload {
  to {
    opacity: 0.2;
    transform: scale(0.9);
  }
  from {
    opacity: 0.7;
    transform: scale(1.1);
  }
}

@keyframes load {
  to {
    transform: scale(0.9);
    filter: grayscale(90%);
    opacity: 0.7;
  }
  from {
    transform: scale(1.08);
    filter: grayscale(10%);
    opacity: 0.93;
  }
}


input.rond {
  border-radius: 50px;
}

input.bordertrans {
  border: 2px transparent solid !important;
}
input.bordertrans:focus {
  background-color: white !important;
}

.Button button {
  outline: none;
}

/* Information */

.Information,
.Modal {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10001;
  background-color: rgba(58, 55, 55, 0.61);
}

/* Navbar */

.Navbar {
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.74);
  /* background-position: -5cm 0; */
}

.Navbar .Navitem:hover .head {
  cursor: pointer;
  background-color: rgba(136, 136, 136, 0.5);
  transition: all 0.2s ease-in-out;
}
.Navitem ul > li:hover {
  cursor: pointer;
  color: rgba(6, 181, 235, 0.726) !important;
  transition: all 0.2s ease-in-out;
}

.actifLink {
  font-weight: bold !important;
  color: rgb(1, 196, 255) !important;
}

.actifItem {
  background-image: linear-gradient(
    to right,
    rgba(1, 138, 180, 0.726),
    rgba(1, 138, 180, 0.205)
  );
  font-weight: bold !important;
  /* background-color: rgba(1, 138, 180, 0.726) !important; */
}

.Navitem a:hover,
a:focus {
  text-decoration: none !important;
  outline: none !important;
  color: rgb(1, 196, 255) !important;
}

.Navitem a {
  color: white;
}


/* Verticalist */

.Verticalist .item {
  cursor: pointer;
}
.Verticalist .item:hover {
  background-color: rgb(247, 247, 247) !important;
  transition: all 0.5s ease;
}
.Verticalist input:focus {
  transition: all 0.6s ease;
  background-color: rgb(248, 248, 248) !important;
}

/* Listcheck */
.Check .case div {
  border: 2px rgb(230, 230, 230) solid !important;
}
.Check {
  cursor: pointer;
  transition: all 0.4s ease;
}
.Check:hover .case div {
  background-color: rgb(206, 206, 206) !important;
  border-color: transparent !important;
}
.Check.checked .case div {
  background-color: rgba(1, 138, 180, 0.726) !important;
  border-color: transparent !important;
}
.Check.checked span {
  font-weight: bold !important;
  color: rgba(1, 138, 180, 0.726) !important;
}
.Check span {
  font-size: 13px;
}

.chooseApp div {
  cursor: pointer;
  transition: all 0.6s ease;
  border-bottom: 3px transparent solid;
}
.chooseApp .active {
  border-bottom-color: rgba(1, 138, 180, 0.726) !important;
}
.chooseApp .active:hover {
  border-bottom-color: rgba(1, 138, 180, 0.726) !important;
}
.chooseApp div:hover {
  border-bottom-color: rgba(1, 138, 180, 0.11) !important;
}

.logListApps small {
  cursor: pointer;
}

/* Verticalcard */
.Verticalcard {
  border: 4px solid rgba(214, 214, 214, 0.356);
  cursor: pointer;
}
.Verticalcard:hover {
  border: 4px solid rgba(214, 214, 214, 0.966);
  box-shadow: 0.3px 0.3px 15px rgba(214, 214, 214, 0.192);
}

a:hover {
  text-decoration: none;
}
