body {
  overflow: hidden;
}

.ombre {
  box-shadow: 0.3px 0.3px 15px rgba(214, 214, 214, 0.192);
}
.page {
  min-height: 100vh !important;
}

* {
  transition: all 0.2s ease;
}

.ombre-bottom{
  box-shadow: 0 8px 0.25rem -6px rgba(0, 0, 0, 0.075) !important;
}

.color {
  color : #696969
}