.onglet.actifOnglet {
  border-bottom: 4px solid transparent ;
  background-color: #0a7ec2e5 !important;
  color : white !important
}

.onglets {
  font-size: 13px;
  border-bottom: 4px #0a7ec2e5 solid ;
}
 