.onglet.actifOnglet {
  border: 2px rgba(187, 187, 187, 0.801) solid;
  border-bottom: 2px transparent solid;
}

.onglet {
  font-size: 15px;
  border: 2px transparent solid;
  border-bottom: 2px rgba(187, 187, 187, 0.801) solid;
}
