.Sideitem {
  border-right: 8px transparent solid !important;
}

.Sideitem.active {
  background-color:#97bf0f;
  color : white !important;
  border-right: 8px #87ac0f solid !important;
  font-weight: bold !important;
}
.Sidehead{
  border-bottom: 0.5px rgba(99, 98, 98, 0.418) solid;
}
.Sideitem:hover {
  background-color: rgba(48, 48, 48, 0.281);
}

.Sidebar{
  overflow-x: hidden;
  background-color: rgba(10, 126, 194, 0.897);
}